<!DOCTYPE html>
<html lang="en">
  <%- include('../Partials/header.ejs') %>
  <body>
    <%- include('../Partials/nav.ejs') %>

    <main class="container">
      <form action="">
        <label for="name">Name:</label>
        <input type="text" id="name" />
        <label for="title">Titlt</label>
        <input type="text" id="title" />
        <label for="task">Task</label>
        <input type="text" id="task" />
        <button>Submit</button>
      </form>
    </main>

    <%- include('../Partials/footer.ejs') %>
  </body>
</html>
